* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: gray;
}
p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}
p a {
  text-align: center;
  color: black;
}
.flex {
  background-color: white;
  max-width: 300px;
  height: 60vh;
  margin: 50px auto;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
form {
  font-size: 8px;
  margin-left: 10px;
}
#question {
  width: 8px;
}
label {
  position: relative;
  bottom: 3.4px;
}

#second-list {
  margin: 8px 10px;
  width: 280px;
}
#list {
  margin-right: 4px;
}
.btn{
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crt-btn{
  width: 80px;
border: none;
background: orange;
border-radius: 3px;
}
.cancel-btn{
  width: 80px;
border: none;
background: orange;
border-radius: 3px;
}